@model IEnumerable<Post_Crud.Models.Post>

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" type="text/css" href="~/css/index.css" />
</head>
<body>
    <h1>Index</h1>

    <p>
        <a asp-action="Create" class="button">Create New Post</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Post_Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Post_Description)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Post_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Post_Description)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Post_Id" class="button">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Post_Id" class="button">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Post_Id" class="button">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
